/* 
 * Sidebar Styles
 * --------------
 * Defines the look and layout of the left navigation sidebar.
 */

.sidebar {
    min-width: 110px;
    width: 13vw;
    height: 100vh;
    background-color: #133e5e; /* Primary brand color */
    padding-top: 10px;
    box-sizing: border-box;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    margin: 0;
}

/* Sidebar Logo Styling */
.sidebar-logo {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

/* Container for navigation links */
.sidebar-content {
    gap: 10px;
    flex-grow: 1;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-top: 10px;
}

/* Individual navigation link styles */
.sidebar-content a {
    color: white;
    text-decoration: none;
    font-size: clamp(0.8rem, 1.5vw, 1.1rem);
    padding: 20px;
    white-space: nowrap;
    overflow: hidden;
}

/* Hover effect for links */
.sidebar-content a:hover {
    background-color: #313131;
    transition: background-color 0.6s ease;
}

/* Push settings link to the bottom of the sidebar */
#settings-link {
    margin-top: auto;
}