<!-- Sidebar Navigation Component -->
<div class="sidebar">
    <!-- Sidebar Header with Logo -->
    <div class="sidebar-title">
        <img class="sidebar-logo" src="/assets/images/GeminiHelpDeskLogo-Picsart-BackgroundRemover.png"
             alt="HelpDesk Logo">
    </div>

    <!-- Main Navigation Links -->
    <div id="sidebar-content-id" class="sidebar-content">
        <!-- Dashboard Home -->
        <a class="nav-link" href="/index.html">
            <span class="nav-icons">
                <i class="fa-solid fa-house"></i>
            </span>
            <span class="nav-label">Dashboard</span>
        </a>

        <!-- Support Ticket List -->
        <a class="nav-link" href="/pages/ticket-page.html">
            <span class="nav-icons">
                <i class="fa-solid fa-ticket"></i>
            </span>
            <span class="nav-label">Tickets</span>
        </a>

        <!-- User Management -->
        <a class="nav-link" href="/pages/user-page.html">
            <span class="nav-icons">
                <i class="fa-solid fa-users"></i>
            </span>
            <span class="nav-label">Users</span>
        </a>

        <!-- Application Settings -->
        <a id="settings-link" class="nav-link" href="/pages/settings-page.html">
            <span class="nav-icons">
                <i class="fa-solid fa-gear"></i>
            </span>
            <span class="nav-label">Settings</span>
        </a>
    </div>
</div>
